.container {
  height: 57px;
  width: 100%;
  //background-color: rgb(220, 218, 218);
  background-color: var(--header-background-color);

  display: flex;
  justify-content: right;
  align-items: center;

  .authBtn {
    height: 32px;
    outline: none;
    border: none;
    background-color: inherit;
    margin-right: 10px;
    text-align: center;
  }

  .authBtn:hover {
    filter: brightness(0.9);
  }
}
